#qzad {
  width: 320px;
  height: 150px;
  position: relative;
}

.photo:nth-child(1) {
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.photo:nth-child(1) .img-1.fade {
  opacity: 0;
  -webkit-transition: opacity 5s ease-in-out 2.5s;
  -moz-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
  transition: opacity 5s ease-in-out;
}
.photo:nth-child(1) .img-1.move {
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.photo:nth-child(2) {
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}
.photo:nth-child(2) .img-2.fade {
  opacity: 0;
  -webkit-transition: opacity 5s ease-in-out 2.5s;
  -moz-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
  transition: opacity 5s ease-in-out;
}
.photo:nth-child(2) .img-2.move {
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.photo:nth-child(3) {
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
}
.photo:nth-child(3) .img-3.fade {
  opacity: 0;
  -webkit-transition: opacity 5s ease-in-out 2.5s;
  -moz-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
  transition: opacity 5s ease-in-out;
}
.photo:nth-child(3) .img-3.move {
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.img-container-left {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 160px;
  z-index: -1;
}
.img-container-left div {
  height: 100%;
  width: 100%;
}
.img-container-left .img-2 {
  -webkit-transform: scaleX(1) scaleY(1);
}
.img-container-left .img-2.move {
  -webkit-transform: scaleX(1) scaleY(1) translateY(-200px);
}
.img-container-left .img-3 {
  -webkit-transform: scaleX(1) scaleY(1);
}

.img-container-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  bottom: 0;
  min-width: 360px;
  z-index: -2;
  height: 100%;
}
.img-container-right .img-1 {
  -webkit-transform: scaleX(1.1) scaleY(1.1) translate(150px, 0);
}
.img-container-right .img-1.move {
  -webkit-transform: scaleX(1) scaleY(1) translateX(200px);
}
.img-container-right .img-2 {
  -webkit-transform: scaleX(1) scaleY(1) translateX(200px);
}
.img-container-right .img-3 {
  -webkit-transform: scaleX(1.2) scaleY(1.2) translate(100px, 0%);
}
.img-container-right .img-3.move {
  -webkit-transform: scaleX(1) scaleY(1) translate(198px, 0%);
}

.cta-container {
  width: 207px;
  margin: 0 auto;
  height: 100%;
}
.cta-container img {
  display: block;
  margin: 0 auto;
}
.cta-container .logo {
  width: 100%;
  padding-top: 22px;
}
.cta-container .cta {
  display: none;
}
.cta-container .offer {
  display: none;
  padding-top: 30px;
  background: url("../img/offer.png") center center no-repeat;
  height: 75px;
}
.cta-container .offer.over {
  padding-top: 30px;
  height: 75px;
  background: url("../img/offer-over.png") center center no-repeat;
}
