#qzad{
	width:480px;
	height:550px;
	position:relative;
}
* {
	margin: 0;
	padding: 0;
}

$count: 1;
$val: 50;
$photo-collection: ('../img/img1-right.jpg') ('../img/img2-left.jpg') ('../img/img3-right.jpg');

@each $photo in $photo-collection {
  
 .photo:nth-child(#{$count}){
    position: absolute;
   	right: 0;
  	overflow: hidden;
    top:0;
    z-index: -#{$count};
   	width: 100%;
   	height: 100%;
	.img-#{$count}{
		
		&.fade {
			opacity: 0;
		    -webkit-transition: opacity 5s ease-in-out 2.5s;
		       -moz-transition: opacity 5s ease-in-out;
		       	 -o-transition: opacity 5s ease-in-out;
		         	transition: opacity 5s ease-in-out;
	    }
	    &.move{	
	    	-webkit-transition: all 5s ease-in-out;
			   -moz-transition: all 5s ease-in-out;
			   	 -o-transition: all 5s ease-in-out;
			       	transition: all 5s ease-in-out;
    	}
	}
  }
  $count: $count + 1;
  $val: $val + $val;
}

.img-container-left{
	position:absolute;
	top:0;
	bottom:0;
	width:240px;
	z-index:-1;
	div{
		height: 100%;
		width: 100%;
	}
	.img-2{
		-webkit-transform: scaleX(1) scaleY(1) translateY(-100px);
		   -moz-transform: scaleX(1) scaleY(1) translateY(-100px);
			-ms-transform: scaleX(1) scaleY(1) translateY(-100px);
			 -o-transform: scaleX(1) scaleY(1) translateY(-100px);
				transform: scaleX(1) scaleY(1) translateY(-100px);
		&.move{
		
			 -webkit-transform: scaleX(1) scaleY(1) translateY(-390px);
				-moz-transform: scaleX(1) scaleY(1) translateY(-390px);
				 -ms-transform: scaleX(1) scaleY(1) translateY(-390px);
	 			  -o-transform: scaleX(1) scaleY(1) translateY(-390px);
					 transform: scaleX(1) scaleY(1) translateY(-390px);
		}
	}
}
.img-container-right{
	position:absolute;
	top:0;
	right:0;
	width:240px;
	bottom:0;
	z-index:-2;
	height:100%;
	.img-1{
		-webkit-transform: scaleX(1.1) scaleY(1.1) translateX(-150%);
		   -moz-transform: scaleX(1.1) scaleY(1.1) translateX(-150%);
			-ms-transform: scaleX(1.1) scaleY(1.1) translateX(-150%);
	 		 -o-transform: scaleX(1.1) scaleY(1.1) translateX(-150%);
				transform: scaleX(1.1) scaleY(1.1) translateX(-150%);
		&.move{
			-webkit-transform: scaleX(1) scaleY(1) translateX(-90%);
			   -moz-transform: scaleX(1) scaleY(1) translateX(-90%);
				-ms-transform: scaleX(1) scaleY(1) translateX(-90%);
				 -o-transform: scaleX(1) scaleY(1) translateX(-90%);
					transform: scaleX(1) scaleY(1) translateX(-90%);
		}
	}
	.img-3{
		-webkit-transform: scaleX(1) scaleY(1) translateX(-180%);
		   -moz-transform: scaleX(1) scaleY(1) translateX(-180%);
			-ms-transform: scaleX(1) scaleY(1) translateX(-180%);
			 -o-transform: scaleX(1) scaleY(1) translateX(-180%);
			 	transform: scaleX(1) scaleY(1) translateX(-180%);
		&.move{
			-webkit-transform: scaleX(1) scaleY(1) translateX(-120%);
			   -moz-transform: scaleX(1) scaleY(1) translateX(-120%);
				-ms-transform: scaleX(1) scaleY(1) translateX(-120%);
	 			 -o-transform: scaleX(1) scaleY(1) translateX(-120%);
					transform: scaleX(1) scaleY(1) translateX(-120%);
		}
	}
}
.cta-container{
	max-width: 287px;
	width:286px;
	margin:0 auto;
	height:100%;
	img{
		display: block;
		margin: 0 auto;
	}
	.logo{
		width:100%;
		padding-top: 71px;
	}
	.cta{
		margin-top: 75px;
		.cta-link{

		}
	}
	.offer{
		margin-top: 62px;
		background: url('../img/offer.png') center center no-repeat;
		height: 100px;
		&.over{
				height: 100px;
				background: url('../img/offer-over.png') top center no-repeat;
		}
		
	}
}
