* {
	margin: 0;
	padding: 0;
}
$count: 1;
$photo-collection: ('../img/img1-right.jpg') ('../img/img2-right.jpg') ('../img/img3-right.jpg');

@each $photo in $photo-collection {
  
 .photo:nth-child(#{$count}){
    position: absolute;
    top:0;
   	right: 0;
   	width: 100%;
   	height: 100%;
  	overflow: hidden;
    z-index: -#{$count};
	.img-#{$count}{
		&.fade {
	     -webkit-transition: opacity 2s ease;
	      opacity: 0;
	    }
	    &.move{	
    	  	-webkit-transition: all 5s linear;
    	}
	}
  }
  $count: $count + 1;
}
#qzad{
	position:relative;
	top:0;
	left:0;
	min-width:720px;
	max-width:1100px;
	height:480px;
}
.img-container-left{
	position:absolute;
	top:0;
	bottom:0;
	width:50%;
	min-width:360px;
	z-index:-1;
	div{		
		width: 100%;
		height: 100%;
	}
	.img-2{
		-webkit-transform: scaleX(0.5) scaleY(0.5) translate(-369px, -255px);
		&.move{
		
			-webkit-transform: scaleX(.7) scaleY(.7) translate(-280px, -615px);
		}
	}
}
.img-container-right{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:50%;
	min-width:360px;
	height:100%;
	z-index:-2;

	.img-1{
		-webkit-transform: scaleX(1.2) scaleY(1.2) translateX(-30%);
		&.move{
			-webkit-transform: scaleX(1) scaleY(1) translateX(-10%);
		}
	}
	
	.img-3{
		-webkit-transform: scaleX(1.1) scaleY(1.1) translate(-30%, 0%);
		&.move{
			-webkit-transform: scaleX(1.1) scaleY(1.1) translate(0%, 0%);
		}
	}
}
.cta-container{
	max-width: 287px;
	min-width:286px;
	width:26%;
	margin:0 auto;
	height:100%;
	img{
		display: block;
		margin: 0 auto;
	}
	.logo{
		width:100%;
		padding-top: 31px;
		&.drop{
			padding-top:85px;
		}
	}
	.cta{
		margin-top: 43px;
	}
	.offer{
		margin-top: 45px;
		background: url('../img/offer.png') center center no-repeat;
		height: 100px;
		&:hover{
				height: 100px;
				background: #fff url('../img/offer-rollover.png') center center no-repeat;
		}
	}
}
